/* 600px */
/* 767px */
/* 767px */
/* 980px */
/* 1066px */
/* 1152px */
/* 1280px */
/* 1350px */
/* 1488px */
.alert-success {
  background-color: #57B97F;
  border-color: #57B97F;
  color: #005A24;
  border-radius: 0;
  margin-top: -22px; }

label .fa {
  font-size: 1.5em; }
  label .fa.fa-asterisk {
    color: #cc4020;
    font-size: .7em;
    vertical-align: super; }

.img {
  width: 250px;
  height: 250px;
  display: none; }
  .img img {
    width: 100%;
    height: 100%; }

.tiny-thumb {
  height: 1em;
  width: auto;
  margin-right: 1em; }

img#edit-img {
  padding: 25px; }
  @media (max-width: 990px) {
    img#edit-img {
      padding: 0;
      width: 100%; } }

body {
  background-image: url("../img/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  font-family: 'Raleway', sans-serif; }
  body #app > .container {
    padding-bottom: 142px;
    min-height: calc(100vh - 73px); }
    body #app > .container > .row > .col-md-2, body #app > .container > .row main {
      background-color: rgba(0, 0, 0, 0.2); }
    body #app > .container main {
      padding: 1em;
      min-height: calc(100vh - 215px); }
      body #app > .container main > .banner {
        margin: -1em -1em 0;
        width: calc(100% + 2em); }
  @media (max-width: 990px) {
    body .sidebar {
      display: none; } }
  body .sidebar ul {
    padding: 0;
    margin-bottom: 2em;
    list-style-type: none; }
    body .sidebar ul li {
      padding: .1em .5em; }
      body .sidebar ul li:hover:not(.empty) {
        background-color: #505355; }
      body .sidebar ul li:hover:hover a {
        text-decoration: none;
        color: #fff; }
      body .sidebar ul li a {
        color: #ccc; }
  body #trusted {
    height: 1.5em;
    width: auto;
    max-width: 100%; }

#app > footer {
  width: 100%;
  background-color: rgba(35, 36, 39, 0.5);
  height: 120px;
  color: #666;
  margin-top: -120px;
  padding-top: 10px;
  font-size: .8em; }
  #app > footer .title {
    color: #fff; }
  #app > footer a:not(.btn-primary) {
    color: #cc4020; }
    #app > footer a:not(.btn-primary):hover, #app > footer a:not(.btn-primary):active, #app > footer a:not(.btn-primary):focus {
      color: #b3381c; }
  #app > footer a.contact {
    color: #666; }
    #app > footer a.contact:hover {
      color: #cc4020; }
  #app > footer .about {
    font-style: italic; }
  @media (max-width: 990px) {
    #app > footer .col-md-9 {
      width: 75%;
      float: left; }
    #app > footer .col-md-3 {
      width: 25%;
      float: left; } }

.navbar-default {
  background-color: rgba(35, 36, 39, 0.5);
  border-color: rgba(35, 36, 39, 0.5);
  z-index: 999; }
  @media (max-width: 990px) {
    .navbar-default .navbar-nav {
      display: none; } }
  .navbar-default .navbar-nav > li > a {
    cursor: pointer; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active {
      color: #c1bfbf;
      cursor: pointer; }

.excl-bubble {
  position: absolute;
  top: -8px;
  z-index: 1;
  display: none;
  border-radius: 50%;
  padding: .1em;
  box-sizing: content-box;
  background-color: #cc4020;
  color: #fff;
  font-size: .6em;
  line-height: 1em;
  height: 1em;
  width: 1em;
  text-align: center; }

.icon-list #search {
  width: 100%;
  margin: 1em 0; }
  .icon-list #search ::-webkit-input-placeholder {
    color: #232427 !important; }
  .icon-list #search :-moz-placeholder {
    color: #232427 !important; }
  .icon-list #search ::-moz-placeholder {
    color: #232427 !important; }
  .icon-list #search :-ms-input-placeholder {
    color: #232427 !important; }
  .icon-list #search input[type="text"] {
    width: calc(100% - 26px);
    background-color: #777;
    border: none;
    color: rgba(35, 36, 39, 0.5) !important;
    padding: 0 .5em; }
  .icon-list #search .btn.btn-primary {
    border: none;
    color: #777;
    height: 26px;
    width: 26px;
    padding: 0;
    margin: 0; }
    .icon-list #search .btn.btn-primary:hover, .icon-list #search .btn.btn-primary:focus, .icon-list #search .btn.btn-primary:active {
      color: #c1bfbf; }
.icon-list .notification-bubble, .icon-list .friend-bubble {
  position: absolute;
  top: -5px;
  left: -5px;
  display: none;
  border-radius: 50%;
  padding: .1em;
  box-sizing: content-box;
  background-color: #cc4020;
  color: #fff;
  font-size: .6em;
  line-height: 1em;
  height: 1em;
  width: 1em;
  text-align: center; }

.login {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 73px; }
  .login .shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10; }
  .login > .col-md-4 {
    z-index: 11; }
  .login .col-md-7 {
    border-right: 1px solid #d3e0e9; }

h1, h2, h3 {
  font-family: 'Oswald', sans-serif; }

form em {
  font-size: .8em; }
@media (max-width: 990px) {
  form div[class^=col-md-].pull-left, form div[class^=col-md-].pull-right {
    float: none !important; } }
form#post-form {
  padding-top: .5em;
  position: relative; }
  form#post-form .btn-primary {
    position: absolute;
    bottom: .7em;
    right: .7em; }
  form#post-form textarea {
    resize: none;
    width: 100%;
    color: #999;
    background-color: rgba(0, 0, 0, 0.2);
    height: 8em;
    padding-right: calc(54px + 1.4em); }
form select {
  width: 100%; }
form [class^='select2'] {
  border-radius: 0 !important; }
form .select2-dropdown {
  border-radius: 0 !important; }
form ::-webkit-input-placeholder {
  color: #777 !important; }
form :-moz-placeholder {
  color: #777 !important;
  opacity: 1; }
form ::-moz-placeholder {
  color: #777 !important;
  opacity: 1; }
form :-ms-input-placeholder {
  color: #777 !important; }
form input[type="number"].form-control {
  padding: 6px; }
form .blocklink input[type="checkbox"] ~ label:before, form .blocklink input[type="checkbox"]:checked ~ label:before, form .blocklink input[type="checkbox"] ~ label:active, form .blocklink input[type="checkbox"]:focus ~ label:before {
  color: white; }
form input[type=radio],
form input[type=checkbox] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
form input[type=radio] ~ label:before,
form input[type=checkbox] ~ label:before {
  font-family: FontAwesome;
  display: inline-block;
  content: "\f1db";
  letter-spacing: 10px;
  font-size: 1.2em;
  color: #cc4020;
  width: 1.4em; }
form input[type=radio] ~ label,
form input[type=checkbox] ~ label {
  cursor: pointer; }
form input[type=radio]:checked ~ label:before,
form input[type=checkbox]:checked ~ label:before {
  content: "\f00c";
  font-size: 1.2em;
  color: #cc4020;
  letter-spacing: 5px; }
form input[type=checkbox] ~ label:before {
  content: "\f096"; }
form input[type=checkbox]:checked ~ label:before {
  content: "\f046";
  color: #cc4020; }
form input[type=radio]:focus ~ label:before,
form input[type=checkbox]:focus ~ label:before,
form input[type=radio]:focus ~ label {
  color: #cc4020; }
form input {
  color: #96999f !important; }
  form input:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(253, 72, 31, 0.6);
    outline-color: rgba(253, 72, 31, 0.6); }
form input[type="search"], form input[type="email"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield; }
form label.form-control {
  color: #fff;
  text-align: center;
  font-weight: normal;
  cursor: pointer; }
form .form-control {
  border-radius: 0;
  background-color: #3a3b3e;
  border-color: #3a3b3e; }
  form .form-control:focus {
    border-color: #3a3b3e;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(253, 72, 31, 0.6); }
form .banner {
  display: none; }
form textarea {
  overflow: hidden; }
@media (max-width: 990px) {
  form button[type="submit"] {
    width: 100%; } }

.banner {
  max-height: 300px;
  width: 100%;
  overflow: hidden; }
  .banner img {
    width: 100%;
    height: auto; }

.row.rounds {
  margin-bottom: 3em; }

.users, .teams, .blocklink-wrapper {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  margin: auto 0px; }

.blocklink {
  padding: .5em;
  position: relative; }
  .blocklink:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer; }
  .blocklink .profile-img {
    width: calc(100% - .4em);
    margin: .2em; }
    .blocklink .profile-img img {
      height: auto;
      width: 100%; }
  .blocklink a {
    color: #fff;
    text-decoration: none; }
    .blocklink a:hover, .blocklink a:focus, .blocklink a:active {
      text-decoration: none; }
  .blocklink p {
    text-align: center; }
  .blocklink.user.request {
    padding-bottom: 1.5em; }
  .blocklink .accept-deny {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 4.5em;
    cursor: default;
    text-align: center;
    margin: 0 auto; }
    .blocklink .accept-deny a {
      display: inline-block;
      font-size: 1.5em; }
      .blocklink .accept-deny a.add {
        color: green;
        margin-right: 1em; }
      .blocklink .accept-deny a.delete {
        color: red; }

.abs-wrapper {
  width: 100%;
  height: 100%;
  position: relative; }

@media (max-width: 990px) {
  .navbar-header {
    float: none; } }
.navbar-header #logo {
  margin-left: 10em; }
  @media (max-width: 1200px) {
    .navbar-header #logo {
      margin-left: 8em; } }
  @media (max-width: 990px) {
    .navbar-header #logo {
      float: right;
      margin-left: 0; } }
  @media (min-width: 80em) {
    .navbar-header #logo {
      margin-left: 0; } }
  .navbar-header #logo:hover svg path {
    fill: #dedada;
    transition: fill .2s; }

#feed {
  margin-top: 1.5em; }
  #feed .post {
    background-color: rgba(0, 0, 0, 0.2);
    margin: .25em 0;
    padding: .5em;
    color: #999; }
    #feed .post a {
      color: #cc4020; }
      #feed .post a.toggleSeen {
        color: #4d4d4d; }
        #feed .post a.toggleSeen:hover .fa-circle:before {
          content: "\f10c"; }
    #feed .post .header {
      color: #fff;
      font-weight: bold; }
    #feed .post .content {
      padding: .1em 1.5em; }
    #feed .post .footer {
      font-size: .8em;
      text-align: right;
      font-style: italic; }

.btn {
  border-radius: 0; }
  .btn.btn-primary {
    background-color: #cc4020;
    border-color: #cc4020; }
    @media (min-width: 990px) {
      .btn.btn-primary {
        margin-top: 1em; } }
    .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary:hover, .btn.btn-primary:active:hover {
      background-color: #bc3010;
      box-shadow: none;
      border-color: #bc3010;
      outline-color: transparent; }
  .btn.btn-secondary {
    background-color: #434548; }
  .btn.btn-load {
    color: #fff;
    background-color: rgba(100, 100, 100, 0.2);
    width: 100%;
    text-align: center;
    margin-top: 1em; }
    .btn.btn-load:hover, .btn.btn-load:focus, .btn.btn-load:active {
      opacity: .8; }
  .btn.btn-dropdown {
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: .2em;
    right: .2em;
    height: 1.5em;
    line-height: .5em; }
    .btn.btn-dropdown:active, .btn.btn-dropdown:focus, .btn.btn-dropdown:hover {
      background-color: #dbdbdb;
      color: #434548; }
  .btn.btn-lfg {
    margin-bottom: 1em; }

.dropdown .dropdown-menu {
  background-color: #dbdbdb;
  color: #434548;
  top: 1.5em;
  min-width: 5em;
  right: 0;
  left: auto;
  border-radius: 0; }
  .dropdown .dropdown-menu li a:active, .dropdown .dropdown-menu li a:hover, .dropdown .dropdown-menu li a:focus {
    background-color: transparent;
    color: #868686; }

.thumb {
  width: 100%;
  height: auto; }

#map {
  width: 100%;
  min-height: 200px; }
  @media (max-width: 990px) {
    #map {
      display: none; } }
  #map a[href^="http://maps.google.com/maps"] {
    display: none !important; }
  #map a[href^="https://maps.google.com/maps"] {
    display: none !important; }
  #map .gmnoprint a, #map .gmnoprint span, #map .gm-style-cc {
    display: none; }
  #map .gmnoprint div {
    background: none !important; }

i.accent {
  font-size: 1.5em; }

a.accent:hover, a.accent:focus, a.accent:active {
  color: #cc4020; }

.accent {
  color: #cc4020; }

.modal .modal-header {
  border: none; }
.modal .modal-content {
  color: #fff;
  border-radius: 0;
  border: none;
  background-color: #2e2f30; }
.modal .modal-footer {
  border: none; }
  .modal .modal-footer .btn-primary {
    margin: 0; }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s; }
    .switch .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s; }
  .switch input {
    display: none; }
    .switch input:checked + .slider {
      background-color: #12F493; }
    .switch input:focus + .slider {
      box-shadow: 0 0 1px #2196F3; }
    .switch input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px); }

.cke_1.cke_chrome {
  background: #3a3b3e;
  border-color: #3a3b3e !important;
  border-radius: 0; }

.cke-contents {
  border-radius: 0 !important; }

.cke_top, .cke_bottom {
  background: #3a3b3e !important;
  box-shadow: none !important; }

.cke_toolgroup, .cke_combo_button {
  background: #c1bfbf !important;
  border-radius: 0 !important; }

.cke_toolgroup:hover, .cke_combo_button:hover, .cke_button:hover {
  background-image: none !important; }

.fade-carousel {
  position: relative;
  height: calc(100vh - 50px);
  margin-top: -22px;
  margin-bottom: 22px;
  overflow: hidden; }
  .fade-carousel a.scrollDown {
    position: absolute;
    bottom: 2em;
    left: 0;
    right: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #777;
    z-index: 1;
    padding: 5px 6px 7px 6px; }
    .fade-carousel a.scrollDown:hover, .fade-carousel a.scrollDown:active {
      background-color: rgba(204, 204, 204, 0.3);
      color: rgba(35, 36, 39, 0.5); }
  .fade-carousel .carousel-inner .item {
    height: 100vh; }
  .fade-carousel .carousel-indicators {
    bottom: 6em; }
    .fade-carousel .carousel-indicators li {
      margin: 0 2px;
      background-color: #cc4020;
      border-color: #cc4020;
      opacity: .7; }
      .fade-carousel .carousel-indicators li.active {
        width: 10px;
        height: 10px;
        opacity: 1; }

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  color: #d6d9d5;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0); }

.hero h1 {
  font-size: 6em;
  font-weight: bold;
  margin: 0;
  padding: 0; }

.fade-carousel .carousel-inner .item .hero {
  opacity: 0;
  -webkit-transition: 2s all ease-in-out .1s;
  -moz-transition: 2s all ease-in-out .1s;
  -ms-transition: 2s all ease-in-out .1s;
  -o-transition: 2s all ease-in-out .1s;
  transition: 2s all ease-in-out .1s; }

.fade-carousel .carousel-inner .item.active .hero {
  opacity: 1;
  -webkit-transition: .5s all ease-in-out .1s;
  -moz-transition: .5s all ease-in-out .1s;
  -ms-transition: .5s all ease-in-out .1s;
  -o-transition: 2s all ease-in-out .1s;
  transition: .5s all ease-in-out .1s; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #080d15;
  opacity: .7; }

.btn.btn-lg {
  padding: 10px 40px; }

.btn.btn-hero, .btn.btn-hero:hover, .btn.btn-hero:focus {
  color: #f5f5f5;
  background-color: #cc4020;
  border-color: #cc4020;
  outline: none;
  margin: 20px auto; }

.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
.fade-carousel .slides .slide-1 {
  background-image: url("../img/slide-1.jpg"); }
.fade-carousel .slides .slide-2 {
  background-image: url("../img/slide-2.jpg"); }
.fade-carousel .slides .slide-3 {
  background-image: url("../img/slide-3.jpg"); }

@media screen and (min-width: 980px) {
  .hero {
    width: 980px; } }
@media screen and (max-width: 640px) {
  .hero h1 {
    font-size: 4em; } }
.leaderboard {
  margin-bottom: -15px; }
  .leaderboard > :nth-child(2) {
    margin-top: 2px; }
  .leaderboard .row.leaderboard-team {
    background-color: rgba(0, 0, 0, 0.2);
    padding: .3em;
    height: 6em; }
    .leaderboard .row.leaderboard-team:not(.place-1):not(.place-2):not(.place-3):not(:last-child) {
      border-bottom: 1px solid rgba(54, 53, 53, 0.47); }
    .leaderboard .row.leaderboard-team[class^="place-"] {
      height: 10em; }
      .leaderboard .row.leaderboard-team[class^="place-"].place-1 {
        background-color: rgba(255, 190, 0, 0.3); }
        .leaderboard .row.leaderboard-team[class^="place-"].place-1 > :first-child {
          color: gold; }
      .leaderboard .row.leaderboard-team[class^="place-"].place-2 {
        background-color: rgba(255, 255, 255, 0.3);
        height: 10em; }
        .leaderboard .row.leaderboard-team[class^="place-"].place-2 > :first-child {
          color: silver; }
      .leaderboard .row.leaderboard-team[class^="place-"].place-3 {
        background-color: rgba(255, 95, 0, 0.3);
        height: 10em; }
        .leaderboard .row.leaderboard-team[class^="place-"].place-3 > :first-child {
          color: burlywood; }
      .leaderboard .row.leaderboard-team[class^="place-"].place-2 .title, .leaderboard .row.leaderboard-team[class^="place-"].place-3 .title {
        font-size: 2em; }
      .leaderboard .row.leaderboard-team[class^="place-"] .title {
        font-size: 3em; }
      .leaderboard .row.leaderboard-team[class^="place-"] .profile-img {
        height: 8em !important;
        width: 8em !important; }
    .leaderboard .row.leaderboard-team.my-team {
      transform: scale(1.03);
      padding: 10px 15px;
      background-color: rgba(54, 53, 53, 0.47); }
    .leaderboard .row.leaderboard-team > [class^="col-md-"] > .row,
    .leaderboard .row.leaderboard-team [class^="col-md-"] {
      height: 100%; }
    .leaderboard .row.leaderboard-team > [class^="col-md-"] {
      position: relative;
      height: 100%; }
      .leaderboard .row.leaderboard-team > [class^="col-md-"]:first-child > * {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 1em;
        width: 1em; }
    .leaderboard .row.leaderboard-team .col-md-4, .leaderboard .row.leaderboard-team .col-md-3, .leaderboard .row.leaderboard-team .col-md-2 {
      position: relative; }
      .leaderboard .row.leaderboard-team .col-md-4 > .profile-img, .leaderboard .row.leaderboard-team .col-md-3 > .profile-img, .leaderboard .row.leaderboard-team .col-md-2 > .profile-img {
        height: 3em;
        width: 3em;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto; }
        .leaderboard .row.leaderboard-team .col-md-4 > .profile-img img, .leaderboard .row.leaderboard-team .col-md-3 > .profile-img img, .leaderboard .row.leaderboard-team .col-md-2 > .profile-img img {
          max-height: 100%; }
    .leaderboard .row.leaderboard-team:not(.place-1):not(.place-2):not(.place-3) .title {
      line-height: 4em;
      height: 4em; }
    .leaderboard .row.leaderboard-team .title {
      font-size: 1.5em;
      height: 2em;
      line-height: 2em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block; }
    .leaderboard .row.leaderboard-team .score {
      text-align: center;
      position: relative; }
      .leaderboard .row.leaderboard-team .score .col-md-12 {
        padding-left: 30px; }
      .leaderboard .row.leaderboard-team .score span:not(:last-child) {
        margin-right: 1em; }
      .leaderboard .row.leaderboard-team .score i {
        margin-right: .5em; }
        .leaderboard .row.leaderboard-team .score i.fa-trophy {
          color: gold; }
        .leaderboard .row.leaderboard-team .score i.fa-crosshairs {
          color: red; }
        .leaderboard .row.leaderboard-team .score i.fa-pause {
          color: white; }
    .leaderboard .row.leaderboard-team .a-w {
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      margin: auto;
      height: 1em; }
    .leaderboard .row.leaderboard-team .f-h {
      height: 100%; }

*:not(.leaderboard-team :first-child) .fa-trophy {
  margin-right: 1em;
  color: gold; }
*:not(.leaderboard-team :first-child) .fa-pause {
  margin-right: 1em;
  color: white; }
*:not(.leaderboard-team :first-child) .fa-crosshairs {
  margin-right: 1em;
  color: red; }

.ratio {
  margin-right: 1em; }
  .ratio .fa-trophy, .ratio .fa-crosshairs {
    color: white;
    margin: 0; }

.menu-hidden {
  display: none; }
  @media (max-width: 990px) {
    .menu-hidden {
      display: block; } }

.menu-shadow {
  display: none; }
  @media (min-width: 990px) {
    .menu-shadow.menu-hidden {
      display: none !important; } }

#send-message-form #message-input {
  resize: none;
  background-color: rgba(35, 36, 39, 0.5);
  color: #c1bfbf;
  border: none;
  border-top: 1px solid #434548; }

#message-box {
  height: 18em;
  background-color: rgba(35, 36, 39, 0.5);
  overflow-y: scroll;
  padding: 1em;
  overflow-x: hidden; }

.stealth-mode {
  display: none; }

.progress {
  background-color: #434548; }
  .progress .progress-bar {
    background-color: #cc4020; }

.sweet-alert, .sweet-alert > p, .sweet-alert > h2 {
  background-color: #434548;
  border-radius: 0;
  color: #fff; }
@keyframes pulseWarning {
  0% {
    border-color: #db5b3e; }
  100% {
    border-color: #cc4020; } }
@keyframes pulseWarningIns {
  0% {
    background-color: #db5b3e; }
  100% {
    background-color: #cc4020; } }
.sweet-alert .sa-warning {
  border-color: #cc4020 !important; }
  .sweet-alert .sa-warning .sa-body, .sweet-alert .sa-warning .sa-dot {
    background-color: #cc4020 !important; }
.sweet-alert .sa-success.animate:before, .sweet-alert .sa-success.animate:after, .sweet-alert .sa-success.animate .sa-fix {
  background-color: #434548; }
.sweet-alert .sa-success.animate .sa-placeholder {
  border-color: #a5dc86; }
.sweet-alert button {
  border-radius: 0 !important; }
  .sweet-alert button.cancel {
    background-color: #777; }
  .sweet-alert button:not(.cancel) {
    background-color: #cc4020 !important; }

.errors, .success {
  margin: auto 0; }

.profile-img.profile {
  width: 250px;
  display: inline-block; }
  @media (max-width: 990px) {
    .profile-img.profile {
      width: 100%; }
      .profile-img.profile img {
        width: 100%; } }

/*# sourceMappingURL=style.css.map */
