$bgc:			#434548;
$overlay-color:	rgba(0,0,0,.2);
$accent:		#cc4020;
$text-color:	#c1bfbf;
$nav-color:	rgba(35,36,39,.5);

//MEDIA
$tabletMini:	    "(min-width: 37em)"; /* 600px */
$tablet:		    "(min-width: 47em)"; /* 767px */
$mobile:		    "(max-width: 47em)"; /* 767px */
$mobile-bootstrap:  "(max-width: 990px)";
$tablet-bootstrap:  "(min-width: 990px)";
$desktop:		    "(min-width: 61em)"; /* 980px */
$ultrabook:		    "(min-width: 68em)"; /* 1066px */
$netbook:		    "(min-width: 72em)"; /* 1152px */
$m1280:			    "(min-width: 80em)"; /* 1280px */
$wide:			    "(min-width: 84em)"; /* 1350px */
$large:			    "(min-width: 93em)"; /* 1488px */

.alert-success { background-color: #57B97F; border-color: #57B97F; color: #005A24; border-radius: 0; margin-top: -22px; }

label .fa { font-size: 1.5em; }
.img {
	width: 250px; height: 250px; display: none;
	img { width: 100%; height: 100%; }
}
.tiny-thumb { height: 1em; width: auto; margin-right: 1em; }
img#edit-img { padding: 25px; }
body {
	background-image: url('../img/background.jpg'); background-attachment: fixed; background-size: cover; color: #fff;
	font-family: 'Raleway', sans-serif;
	#app > .container {
		padding-bottom: 142px; min-height: calc(100vh - 73px);
		&>.row>.col-md-2, &>.row main { background-color: $overlay-color;}
		main {
            padding: 1em; min-height: calc(100vh - 215px);
			>.banner { margin: -1em -1em 0; width: calc(100% + 2em); }
		}
	}
	.sidebar {
		@media #{$mobile-bootstrap} { display: none; }
		ul {
			padding: 0; margin-bottom: 2em; list-style-type: none;
			li {
				padding: .1em .5em;
				&:hover {
					&:not(.empty) { background-color: #505355; }
					&:hover a { text-decoration: none; color: #fff; }
				}
				a { color: #ccc; }
			}
		}
	}
	#trusted { height: 1.5em; width: auto; max-width: 100%; }
}

#app > footer {
	width: 100%; background-color: $nav-color; height: 120px; color: #666; margin-top: -120px; padding-top: 10px;
	font-size: .8em;
	.title { color: #fff; }
	a:not(.btn-primary) {
		color: $accent;
		&:hover, &:active, &:focus { color: #b3381c; }
	}
	a.contact {
		color: #666;
		&:hover { color: $accent; }
	}

	.about { font-style: italic; }
}

.navbar-default {
	background-color: $nav-color; border-color: $nav-color; z-index: 999;
	.navbar-nav {
		@media #{$mobile-bootstrap} { display: none; }
		&>li {
			&>a {
				&:hover, &:focus, &:active { color: $text-color; }
			}
		}
	}
}
.excl-bubble {
	position: absolute; top: -8px; z-index: 1; display: none; border-radius: 50%; padding: .1em; box-sizing: content-box;
	background-color: $accent; color: #fff; font-size: .6em; line-height: 1em; height: 1em; width: 1em; text-align: center;
}

.icon-list {
	#search {
		width: 100%; margin: 1em 0;
		::-webkit-input-placeholder { color: $nav-color !important; }
		:-moz-placeholder { color: $nav-color !important; }
		::-moz-placeholder { color: $nav-color !important; }
		:-ms-input-placeholder { color: $nav-color !important; }

		input[type="text"] {
			width: calc(100% - 26px); background-color: #777; border: none; color: $nav-color !important;
			padding: 0 .5em;
		}
		.btn.btn-primary {
			border: none; color: #777; height: 26px; width: 26px; padding: 0; margin: 0;
			&:hover, &:focus, &:active { color: $text-color; }
		}
	}
	.notification-bubble, .friend-bubble {
		position: absolute; top: -5px; left: -5px; display: none; border-radius: 50%; padding: .1em; box-sizing: content-box;
		background-color: $accent; color: #fff; font-size: .6em; line-height: 1em; height: 1em; width: 1em; text-align: center;
	}
}
.login {
	position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; padding-top: 73px;
	.shadow { position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; background-color: rgba(0,0,0,.3); z-index: 10; }
	&>.col-md-4 { z-index: 11; }
	.col-md-7 { border-right: 1px solid #d3e0e9; }
}
h1,h2,h3,h4,h5,h6 { font-family: 'Oswald', sans-serif; }

form {
	input:focus { box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(253, 72, 31, 0.6); outline-color: rgba(253, 72, 31, 0.6);; }
	&#post-form {
		padding-top: .5em; position: relative;
		.btn-primary { position: absolute; bottom: .7em; right: .7em; }
		textarea {
			resize: none; width: 100%; color: #999; background-color: $overlay-color; height: 8em;
			padding-right: calc(54px + 1.4em);
		}
	}
	input[type="number"].form-control { padding: 6px; }
	.form-control {
		border-radius: 0; background-color: #3a3b3e; border-color: #3a3b3e;
		&:focus { border-color: #3a3b3e; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(253, 72, 31, 0.6); }
	}

	select { width: 100%; }
	[class^='select2'] { border-radius: 0 !important; }
	.select2-dropdown { border-radius: 0 !important; }

	::-webkit-input-placeholder { color: #555 !important; }
	:-moz-placeholder { color: #555 !important; opacity: 1; }
	::-moz-placeholder { color: #555 !important; opacity: 1 }
	:-ms-input-placeholder { color: #555 !important; }

	.blocklink input[type="checkbox"] {
		& ~ label:before, &:checked ~ label:before,
		& ~ label:active, &:focus ~ label:before { color: white; }
	}
	// FA checkboxes/radio buttons
	input[type=radio],
	input[type=checkbox] {
		border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden;
		padding: 0; position: absolute; width: 1px;
	}

	input[type=radio] ~ label:before,
	input[type=checkbox] ~ label:before {
		font-family: FontAwesome; display: inline-block; content: "\f1db"; letter-spacing: 10px; font-size: 1.2em;
		color: $accent; width: 1.4em;
	}
	input[type=radio] ~ label,
	input[type=checkbox] ~ label { cursor: pointer; }

	input[type=radio]:checked ~ label:before,
	input[type=checkbox]:checked ~ label:before  {
		content: "\f00c"; font-size: 1.2em; color: $accent; letter-spacing: 5px;
	}
	input[type=checkbox] ~ label:before { content: "\f096"; }
	input[type=checkbox]:checked ~ label:before { content: "\f046"; color: $accent; }

	input[type=radio]:focus ~ label:before,
	input[type=checkbox]:focus ~ label:before,
	input[type=radio]:focus ~ label { color: $accent; }

	input { color: #96999f !important; }
	input[type="search"], input[type="email"] {
		-moz-appearance: textfield;
		-webkit-appearance: textfield;
		appearance: textfield;
	}
	label.form-control {
		color: #fff; text-align: center; font-weight: normal; cursor: pointer;
	}
	.banner { display: none; }
	textarea { overflow: hidden; }
}

.banner {
	max-height: 300px; width: 100%; overflow: hidden;
	img { width: 100%; height: auto; }
}

.row.rounds { margin-bottom: 3em; }
.users, .teams, .blocklink-wrapper { display: flex; display: -webkit-flex; display: -ms-flexbox; margin: auto 0px; }
.blocklink {
	padding: .5em; position: relative;
	&:hover { background-color: $overlay-color; cursor: pointer; }

	.profile-img {
		width: calc(100% - .4em); margin: .2em;
		img { height: auto; width: 100%; }
	}
	a {
		color: #fff; text-decoration: none;
		&:hover, &:focus, &:active { text-decoration: none; }
	}
	p { text-align: center; }
	&.user.request { padding-bottom: 1.5em; }
	.accept-deny {
		position: absolute; bottom: 0; left: 0; right: 0; width: 4.5em; cursor: default; text-align: center; margin: 0 auto;
		a {
			display: inline-block; font-size: 1.5em;
			&.add { color: green;margin-right: 1em; }
			&.delete { color: red; }
		}
	}
}
.abs-wrapper { width: 100%; height: 100%; position: relative; }

.navbar-header {
	@media (max-width: 990px) { float: none; }
	#logo {
		margin-left: 10em;
		@media (max-width: 1200px) { margin-left: 8em; }
		@media (max-width: 990px) { float: right; margin-left: 0; }
		@media #{$m1280} { margin-left: 0; }
		&:hover svg path { fill: #dedada; transition: fill .2s; }
	}
}

#feed {
	margin-top: 1.5em;
	.post {
		background-color: $overlay-color; margin: .25em 0; padding: .5em; color: #999;
		a {
			color: $accent;
			&.toggleSeen {
				color: #4d4d4d;
				&:hover {
					.fa-circle:before {content: "\f10c"; }
				}
			}
		}
		.header { color: #fff; font-weight: bold; }
		.content { padding: .1em 1.5em; }
		.footer { font-size: .8em; text-align: right; font-style: italic; }
	}
}

.btn {
	border-radius: 0;
	&.btn-primary {
		background-color: $accent; border-color: $accent; margin-top: 1em;
		&:focus, &:active, &:hover, &:active:hover { background-color: #bc3010; box-shadow: none; border-color: #bc3010; outline-color: transparent; }
	}
	&.btn-secondary { background-color: $bgc; }
	&.btn-load {
		color: #fff; background-color: rgba(100,100,100,.2); width: 100%; text-align: center; margin-top: 1em;
		&:hover, &:focus, &:active { opacity: .8; }
	}
	&.btn-dropdown {
		background-color: transparent; border-color: transparent; position: absolute; top: .2em; right: .2em;
		height: 1.5em; line-height: .5em;
		&:active, &:focus, &:hover { background-color: #dbdbdb; color: $bgc;}
	}
	&.btn-lfg { margin-bottom: 1em; }
}
.dropdown {
	.dropdown-menu {
		background-color: #dbdbdb; color: $bgc; top: 1.5em; min-width: 5em; right: 0; left: auto;
		border-radius: 0;
		li {
			a:active, a:hover, a:focus { background-color: transparent; color: #868686; }
		}
	}
}

.thumb { width: 100%; height: auto; }

// GMaps
#map {
	width: 100%; min-height: 200px;
	a[href^="http://maps.google.com/maps"]{display:none !important}
	a[href^="https://maps.google.com/maps"]{display:none !important}

	.gmnoprint a, .gmnoprint span, .gm-style-cc {
		display:none;
	}
	.gmnoprint div {
		background:none !important;
	}
}

i.accent { font-size: 1.5em; }
a.accent:hover, a.accent:focus, a.accent:active { color: $accent; }
.accent { 
	color: $accent;
}

// Modals
.modal {
	.modal-header { border: none; }
	.modal-content {
		color: #fff; border-radius: 0; border: none; background-color: #2e2f30;
	}
	.modal-footer {
		border: none;
		.btn-primary { margin: 0; }
	}
}

// Toggle button
.switch {
	position: relative; display: inline-block; width: 60px; height: 34px;
	.slider {
		position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0;
		background-color: #ccc; -webkit-transition: .4s; transition: .4s;
		&:before {
			position: absolute; content: ""; height: 26px; width: 26px; left: 4px; bottom: 4px;
			background-color: white; -webkit-transition: .4s; transition: .4s;
		}
	}
	input {
		display:none;
		&:checked + .slider { background-color: #12F493; }
		&:focus + .slider { box-shadow: 0 0 1px #2196F3; }
		&:checked + .slider:before { -webkit-transform: translateX(26px); -ms-transform: translateX(26px); transform: translateX(26px); }
	}
}



//-- CK EDITOR --//
.cke_1.cke_chrome { background: #3a3b3e; border-color: #3a3b3e !important; border-radius: 0; }
.cke-contents { border-radius: 0 !important; }
.cke_top, .cke_bottom { background: #3a3b3e !important; box-shadow: none !important; }
.cke_toolgroup, .cke_combo_button { background: rgb(193, 191, 191) !important; border-radius: 0 !important; }
.cke_toolgroup:hover, .cke_combo_button:hover, .cke_button:hover { background-image: none !important; }
// END CKEDITOR //

//-- CAROUSEL/HERO --//
.fade-carousel {
	position: relative; height: calc(100vh - 50px); margin-top: -22px; margin-bottom: 22px; overflow: hidden;
	a.scrollDown {
		position: absolute; bottom: 2em; left: 0; right: 0; margin: auto; width: 40px; height: 40px; text-align: center;
		color: #777; z-index: 1; padding: 5px 6px 7px 6px;
		&:hover, &:active { background-color: rgba(204, 204, 204, 0.3); color: $nav-color }
	}
	.carousel-inner .item { height: 100vh; }
	.carousel-indicators {
		bottom: 6em;
		li {
            margin: 0 2px; background-color: $accent; border-color: $accent; opacity: .7;
            &.active { width: 10px; height: 10px; opacity: 1; }
        }
    }
}

.hero {
	position: absolute; top: 50%; left: 50%; z-index: 3; color: #d6d9d5; text-align: center; text-transform: uppercase;
	text-shadow: 1px 1px 0 rgba(0,0,0,.75); -webkit-transform: translate3d(-50%,-50%,0); -moz-transform: translate3d(-50%,-50%,0);
	-ms-transform: translate3d(-50%,-50%,0); -o-transform: translate3d(-50%,-50%,0); transform: translate3d(-50%,-50%,0);
}
.hero h1 { font-size: 6em; font-weight: bold; margin: 0; padding: 0; }

.fade-carousel .carousel-inner .item .hero {
	opacity: 0; -webkit-transition: 2s all ease-in-out .1s; -moz-transition: 2s all ease-in-out .1s;
	-ms-transition: 2s all ease-in-out .1s; -o-transition: 2s all ease-in-out .1s; transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
	opacity: 1; -webkit-transition: .5s all ease-in-out .1s; -moz-transition: .5s all ease-in-out .1s;
	-ms-transition: .5s all ease-in-out .1s; -o-transition: 2s all ease-in-out .1s; transition: .5s all ease-in-out .1s;
}

.overlay { position: absolute; width: 100%; height: 100%; z-index: 2; background-color: #080d15; opacity: .7; }

//-- CUSTOM BUTTONS --//
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero {
	&, &:hover, &:focus { color: #f5f5f5; background-color: $accent; border-color: $accent; outline: none; margin: 20px auto; }
}
// END CUSTOM BUTTONS //

//-- SLIDES BACKGROUNDS --//
.fade-carousel .slides {
	.slide-1,
	.slide-2,
	.slide-3 { height: 100vh; background-size: cover; background-position: center center; background-repeat: no-repeat; background-attachment: fixed; }

	.slide-1 { background-image: url('../img/slide-1.jpg'); }
	.slide-2 { background-image: url('../img/slide-2.jpg'); }
	.slide-3 { background-image: url('../img/slide-3.jpg'); }
}

// END SLIDES BACKGROUND //


//-- MEDIA QUERIES --//
@media screen and (min-width: 980px){
	.hero { width: 980px; }
}
@media screen and (max-width: 640px){
	.hero h1 { font-size: 4em; }
}
// END MEDIA QUERIES //

.leaderboard {
	margin-bottom: -15px;
	>:nth-child(2) { margin-top: 2px; }
	.row.leaderboard-team {
		background-color: $overlay-color; padding: .3em; height: 6em;
		&:not(.place-1):not(.place-2):not(.place-3):not(:last-child) { border-bottom: 1px solid rgba(54, 53, 53, 0.47);}
		&[class^="place-"] {
			height: 10em;
			&.place-1 {
				background-color: rgba(255, 190, 0, .3);
				>:first-child { color: gold; }
			}
			&.place-2 {
				background-color: rgba(255, 255, 255, .3); height: 10em;
				>:first-child { color: silver; }
			}
			&.place-3 {
				background-color: rgba(255, 95, 0, .3); height: 10em;
				>:first-child { color: burlywood; }
			}
			&.place-2 .title, &.place-3 .title { font-size: 2em; }
			.title { font-size: 3em; }
			.profile-img { height: 8em !important; width: 8em !important; }
		}
		&.my-team { transform: scale(1.03); padding: 10px 15px; background-color: rgba(54, 53, 53, 0.47); }
		&>[class^="col-md-"]>.row,
		[class^="col-md-"] { height: 100%; }
		&>[class^="col-md-"] {
			position: relative; height: 100%;
			&:first-child>* { position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; height: 1em; width: 1em; }
		}
		.col-md-4,.col-md-3, .col-md-2 {
			position: relative;
			>.profile-img {
				height: 3em; width: 3em; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;
				img { max-height: 100%; }
			}
		}
		&:not(.place-1):not(.place-2):not(.place-3) .title { line-height: 4em; height: 4em; }
		.title {
			font-size: 1.5em; height: 2em; line-height: 2em; overflow: hidden;
			text-overflow: ellipsis; white-space: nowrap; display: block;
		}
		.score {
			text-align: center; position: relative;
			.col-md-12 { padding-left: 30px; }
			span:not(:last-child) { margin-right: 1em; }
			i {
				margin-right: .5em;
				&.fa-trophy { color: gold; }
				&.fa-crosshairs { color: red; }
				&.fa-pause { color: white; }
			}
		}
		.a-w { width: 100%; top: 0; left: 0; right: 0; bottom: 0; position: absolute; margin: auto; height: 1em; }
		.f-h { height: 100%; }
	}
}

*:not(.leaderboard-team :first-child) {
	.fa-trophy { margin-right: 1em; color: gold; }
	.fa-pause { margin-right: 1em; color: white; }
	.fa-crosshairs { margin-right: 1em; color: red; }
}

.ratio {
	margin-right: 1em;
	.fa-trophy, .fa-crosshairs { color: white; margin: 0; }
}

.menu-hidden {
	display: none;
	@media #{$mobile-bootstrap} { display: block; }
}