label .fa {
  font-size: 1.5em; }

.img {
  width: 250px;
  height: 250px;
  display: none; }
  .img img {
    width: 100%;
    height: 100%; }

body {
  background-color: #434548;
  color: #fff; }
  body .panel {
    border-radius: 0; }
  body .sidebar ul {
    padding: 0;
    margin-bottom: 2em;
    list-style-type: none; }
  body #trusted {
    height: 1.5em;
    width: auto;
    max-width: 100%; }

.navbar-default {
  background-color: #232427;
  border-color: #232427; }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active {
    color: #c1bfbf; }
  .navbar-default .navbar-nav > li.open ul {
    background-color: #3b3c40; }
  .navbar-default .navbar-nav > li.open a {
    background-color: #3b3c40;
    color: #777; }
    .navbar-default .navbar-nav > li.open a:hover, .navbar-default .navbar-nav > li.open a:focus, .navbar-default .navbar-nav > li.open a:active {
      background-color: #3b3c40;
      color: #c1bfbf; }
  .navbar-default .navbar-nav > li#search {
    padding-top: 12px;
    float: left;
    width: 12em; }
    .navbar-default .navbar-nav > li#search form {
      overflow: hidden; }
      .navbar-default .navbar-nav > li#search form input[type="text"] {
        background-color: #777;
        border: none;
        color: #232427; }
    .navbar-default .navbar-nav > li#search button {
      background-color: transparent;
      border: none;
      color: #777; }
      .navbar-default .navbar-nav > li#search button:hover, .navbar-default .navbar-nav > li#search button:focus, .navbar-default .navbar-nav > li#search button:active {
        color: #c1bfbf; }
  .navbar-default .notification-bubble {
    position: absolute;
    top: -.3em;
    left: -.6em;
    display: none;
    border-radius: 50%;
    padding: .1em;
    box-sizing: content-box;
    background-color: #f00;
    color: #fff;
    font-size: .6em;
    line-height: 1em;
    height: 1em;
    width: 1em;
    text-align: center; }

.login {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 73px; }
  .login .shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10; }
  .login > .col-md-4 {
    z-index: 11; }
  .login .col-md-7 {
    border-right: 1px solid #d3e0e9; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif; }

.panel {
  color: #636b6f; }
  .panel .form-control {
    background-color: #fff;
    border-color: #ccd0d2; }
    .panel .form-control:focus {
      border-color: #ccd0d2;
      box-shadow: none; }

form {
  /* WebKit, Blink, Edge */
  /* Mozilla Firefox 4 to 18 */
  /* Mozilla Firefox 19+ */
  /* Internet Explorer 10-11 */ }
  form#post-form textarea {
    resize: none;
    width: 100%;
    color: #999; }
  form input[type="number"].form-control {
    padding: 6px; }
  form .form-control {
    border-radius: 0;
    background-color: #3a3b3e;
    border-color: #3a3b3e; }
    form .form-control:focus {
      border-color: #3a3b3e;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(253, 72, 31, 0.6); }
  form ::-webkit-input-placeholder {
    color: #555 !important; }
  form :-moz-placeholder {
    color: #555 !important;
    opacity: 1; }
  form ::-moz-placeholder {
    color: #555 !important;
    opacity: 1; }
  form :-ms-input-placeholder {
    color: #555 !important; }
  form input {
    color: #96999f !important; }
  form input[type="search"], form input[type="email"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield; }
  form label.form-control {
    color: #fff;
    text-align: center;
    font-weight: normal;
    cursor: pointer; }
  form .banner {
    display: none; }

.banner {
  max-height: 300px;
  width: 100%;
  overflow: hidden; }
  .banner img {
    width: 100%;
    height: auto; }

.users, .teams {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox; }

.blocklink {
  padding: .5em;
  position: relative; }
  .blocklink:hover {
    background-color: #333535;
    cursor: pointer; }
  .blocklink a {
    color: #fff; }
    .blocklink a:hover {
      text-decoration: none; }
  .blocklink p {
    text-align: center; }
  .blocklink.user .profile-img, .blocklink.team .profile-img {
    width: calc(100% - .4em);
    margin: .2em; }
    .blocklink.user .profile-img img, .blocklink.team .profile-img img {
      height: auto;
      width: 100%; }
  .blocklink.user.request {
    padding-bottom: 1.5em; }
  .blocklink .friend-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 4.5em;
    cursor: default;
    text-align: center;
    margin: 0 auto; }
    .blocklink .friend-controls a {
      display: inline-block;
      font-size: 1.5em; }
      .blocklink .friend-controls a.add {
        color: green;
        margin-right: 1em; }
      .blocklink .friend-controls a.delete {
        color: red; }

.abs-wrapper {
  width: 100%;
  height: 100%;
  position: relative; }

#logo:hover svg path {
  fill: #dedada;
  transition: fill .2s; }

#feed {
  margin-top: 1.5em; }
  #feed .post {
    background-color: #3a3b3e;
    margin: .25em 0;
    padding: .5em;
    color: #999; }

.btn {
  border-radius: 0; }
  .btn.btn-primary {
    background-color: #cc4020;
    border-color: #cc4020;
    margin-top: 1em; }
    .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary:hover, .btn.btn-primary:active:hover {
      background-color: #bc3010;
      box-shadow: none;
      border-color: #bc3010;
      outline-color: transparent; }

.thumb {
  width: 100%;
  height: auto; }

table.table thead th {
  border-bottom: 2px solid #393b3e; }
table.table tr {
  background-color: transparent !important; }
  table.table tr td {
    background-color: transparent; }
    table.table tr td.empty {
      text-align: center; }
table.table.table-striped td:nth-child(even) {
  background-color: #232427; }

#map {
  width: 100%;
  min-height: 200px; }
  #map a[href^="http://maps.google.com/maps"] {
    display: none !important; }
  #map a[href^="https://maps.google.com/maps"] {
    display: none !important; }
  #map .gmnoprint a, #map .gmnoprint span, #map .gm-style-cc {
    display: none; }
  #map .gmnoprint div {
    background: none !important; }

i.accent {
  font-size: 1.5em; }

.accent {
  color: #cc4020; }

.modal-content {
  color: #000;
  border-radius: 0; }
  .modal-content form > * {
    color: #000; }

.cke_1.cke_chrome {
  background: #3a3b3e;
  border-color: #3a3b3e !important;
  border-radius: 0; }

.cke-contents {
  border-radius: 0 !important; }

.cke_top, .cke_bottom {
  background: #3a3b3e !important;
  box-shadow: none !important; }

.cke_toolgroup, .cke_combo_button {
  background: #c1bfbf !important;
  border-radius: 0 !important; }

.cke_toolgroup:hover, .cke_combo_button:hover, .cke_button:hover {
  background-image: none !important; }

/*# sourceMappingURL=style.css.map */
