/* 600px */
/* 767px */
/* 767px */
/* 980px */
/* 1066px */
/* 1152px */
/* 1280px */
/* 1350px */
/* 1488px */
.alert-success {
  background-color: #57B97F;
  border-color: #57B97F;
  color: #005A24;
  border-radius: 0;
  margin-top: -22px; }

label .fa {
  font-size: 1.5em; }
  label .fa.fa-asterisk {
    color: #cc4020;
    font-size: .7em;
    vertical-align: super; }

.img {
  width: 250px;
  height: 250px;
  display: none; }
  .img img {
    width: 100%;
    height: 100%; }

.tiny-thumb {
  height: 1em;
  width: auto;
  margin-right: 1em; }

img#edit-img {
  padding: 25px;
  display: inline-block;
  max-width: 300px; }
  @media (max-width: 991px) {
    img#edit-img {
      padding: 0;
      width: 100%; } }

body {
  background-image: url("../img/overlay-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  font-family: 'Raleway', sans-serif; }
  body #app > .container {
    padding-bottom: 142px;
    min-height: calc(100vh - 73px); }
    body #app > .container > .row > .col-md-2, body #app > .container > .row main {
      background-color: rgba(0, 0, 0, 0.2); }
    body #app > .container main {
      padding: 1em;
      min-height: calc(100vh - 215px); }
      body #app > .container main > .banner {
        margin: -1em -1em 0;
        width: calc(100% + 2em); }
  body .sidebar {
    display: none; }
    @media (min-width: 992px) {
      body .sidebar {
        display: block; } }
    body .sidebar ul {
      padding: 0;
      margin-bottom: 2em;
      list-style-type: none; }
      body .sidebar ul li {
        padding: .1em .5em; }
        body .sidebar ul li:hover:not(.empty) {
          background-color: #505355; }
        body .sidebar ul li:hover:hover a {
          text-decoration: none;
          color: #fff; }
        body .sidebar ul li a {
          color: #ccc; }
  body #trusted {
    height: 1.5em;
    width: auto;
    max-width: 100%;
    margin-right: .5em; }

#app > footer {
  width: 100%;
  background-color: rgba(35, 36, 39, 0.5);
  height: 120px;
  color: #666;
  margin-top: -120px;
  padding-top: 10px;
  font-size: .8em; }
  #app > footer .title {
    color: #fff; }
  #app > footer a:not(.btn-primary) {
    color: #cc4020; }
    #app > footer a:not(.btn-primary):hover, #app > footer a:not(.btn-primary):active, #app > footer a:not(.btn-primary):focus {
      color: #b3381c; }
  #app > footer a.contact {
    color: #666; }
    #app > footer a.contact:hover {
      color: #cc4020; }
  #app > footer .about {
    font-style: italic; }
  @media (max-width: 991px) {
    #app > footer .col-md-9 {
      width: 75%;
      float: left; }
    #app > footer .col-md-3 {
      width: 25%;
      float: left; } }

.navbar-default {
  background-color: rgba(35, 36, 39, 0.5);
  border-color: rgba(35, 36, 39, 0.5);
  z-index: 999; }
  @media (min-width: 992px) {
    .navbar-default .container {
      padding: 0; } }
  .navbar-default .container .navbar-header {
    float: right;
    margin: 0; }
    .navbar-default .container .navbar-header #logo {
      height: 24px;
      padding: 13px 0; }
      @media (max-width: 350px) {
        .navbar-default .container .navbar-header #logo {
          padding: 16px 0; } }
      .navbar-default .container .navbar-header #logo:hover svg path {
        fill: #dedada;
        transition: fill .2s; }
      .navbar-default .container .navbar-header #logo svg {
        width: auto;
        height: 24px; }
        @media (max-width: 350px) {
          .navbar-default .container .navbar-header #logo svg {
            height: 18px; } }
  @media (max-width: 991px) {
    .navbar-default .navbar-nav {
      display: none; } }
  .navbar-default .navbar-nav > li > a {
    cursor: pointer; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active {
      color: #c1bfbf;
      cursor: pointer; }

.excl-bubble {
  position: absolute;
  top: -8px;
  z-index: 1;
  display: none;
  border-radius: 50%;
  padding: .1em;
  box-sizing: content-box;
  background-color: #cc4020;
  color: #fff;
  font-size: .6em;
  line-height: 1em;
  height: 1em;
  width: 1em;
  text-align: center; }

.icon-list #search {
  width: 100%;
  margin: 1em 0; }
  .icon-list #search ::-webkit-input-placeholder {
    color: #232427 !important; }
  .icon-list #search :-moz-placeholder {
    color: #232427 !important; }
  .icon-list #search ::-moz-placeholder {
    color: #232427 !important; }
  .icon-list #search :-ms-input-placeholder {
    color: #232427 !important; }
  .icon-list #search input[type="text"] {
    width: calc(100% - 26px);
    background-color: #777;
    border: none;
    color: rgba(35, 36, 39, 0.5) !important;
    padding: 0 .5em; }
  .icon-list #search .btn.btn-primary {
    border: none;
    color: #777;
    height: 26px;
    width: 26px;
    padding: 0;
    margin: 0; }
    .icon-list #search .btn.btn-primary:hover, .icon-list #search .btn.btn-primary:focus, .icon-list #search .btn.btn-primary:active {
      color: #c1bfbf; }
.icon-list .notification-bubble, .icon-list .friend-bubble {
  position: absolute;
  top: -5px;
  left: -5px;
  display: none;
  border-radius: 50%;
  padding: .1em;
  box-sizing: content-box;
  background-color: #cc4020;
  color: #fff;
  font-size: .6em;
  line-height: 1em;
  height: 1em;
  width: 1em;
  text-align: center; }
.icon-list > a.active {
  color: #cc4020; }

.login {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 73px; }
  .login .shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10; }
  .login > .col-md-4 {
    z-index: 11; }
  .login .col-md-7 {
    border-right: 1px solid #d3e0e9; }

h1, h2, h3 {
  font-family: 'Oswald', sans-serif; }

form em {
  font-size: .8em; }
@media (max-width: 991px) {
  form div[class^=col-md-].pull-left, form div[class^=col-md-].pull-right {
    float: none !important; } }
form#post-form, form#send-message-form {
  padding-top: .5em;
  position: relative; }
  form#post-form .btn-primary, form#send-message-form .btn-primary {
    position: absolute;
    bottom: .7em;
    right: .7em; }
    @media (max-width: 991px) {
      form#post-form .btn-primary, form#send-message-form .btn-primary {
        bottom: 0;
        right: 0; } }
  form#post-form textarea, form#send-message-form textarea {
    width: 100%;
    height: 8em;
    padding-right: calc(54px + 1.4em); }
@media (min-width: 992px) and (max-width: 1199px) {
  form#edit-form.settings > .row > .col-md-6.pull-right {
    width: 55%; }
  form#edit-form.settings > .row > .col-md-6:not(.pull-right) {
    width: 45%; } }
form.delete button.confirm {
  background-color: transparent;
  border: 0; }
  form.delete button.confirm:focus, form.delete button.confirm:hover, form.delete button.confirm:active {
    color: #868686;
    background: transparent; }
form select {
  width: 100%; }
form [class^='select2'] {
  border-radius: 0 !important; }
form .select2-dropdown {
  border-radius: 0 !important; }
form ::-webkit-input-placeholder {
  color: #777 !important; }
form :-moz-placeholder {
  color: #777 !important;
  opacity: 1; }
form ::-moz-placeholder {
  color: #777 !important;
  opacity: 1; }
form :-ms-input-placeholder {
  color: #777 !important; }
form input[type="number"].form-control {
  padding: 6px; }
form .blocklink input[type="checkbox"] ~ label:before, form .blocklink input[type="checkbox"]:checked ~ label:before, form .blocklink input[type="checkbox"] ~ label:active, form .blocklink input[type="checkbox"]:focus ~ label:before {
  color: white; }
form input[type=radio],
form input[type=checkbox] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
form input[type=radio] ~ label:before,
form input[type=checkbox] ~ label:before {
  font-family: FontAwesome;
  display: inline-block;
  content: "\f1db";
  letter-spacing: 10px;
  font-size: 1.2em;
  color: #cc4020;
  width: 1.4em; }
form input[type=radio] ~ label,
form input[type=checkbox] ~ label {
  cursor: pointer; }
form input[type=radio]:checked ~ label:before,
form input[type=checkbox]:checked ~ label:before {
  content: "\f00c";
  font-size: 1.2em;
  color: #cc4020;
  letter-spacing: 5px; }
form input[type=checkbox] ~ label:before {
  content: "\f096"; }
form input[type=checkbox]:checked ~ label:before {
  content: "\f046";
  color: #cc4020; }
form input[type=radio]:focus ~ label:before,
form input[type=checkbox]:focus ~ label:before,
form input[type=radio]:focus ~ label {
  color: #cc4020; }
form input:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(253, 72, 31, 0.6);
  outline-color: rgba(253, 72, 31, 0.6); }
form input, form textarea {
  color: #96999f !important; }
form input[type="search"], form input[type="email"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield; }
form textarea {
  resize: none;
  background-color: rgba(0, 0, 0, 0.2);
  color: #999; }
form .checkbox label {
  padding-left: 0; }
form label.form-control {
  color: #fff;
  text-align: center;
  font-weight: normal;
  cursor: pointer; }
form .slider.slider-horizontal [class^="tooltip"], form .slider.slider-horizontal [class^="tooltop"]:hover, form .slider.slider-horizontal [class^="tooltop"]:focus {
  display: none !important; }
form .slider.slider-horizontal .slider-selection {
  background: #cc4020;
  opacity: .7; }
form .slider.slider-horizontal .slider-handle {
  background: #cc4020; }
form:not(#login-form) label.control-label {
  margin-top: 2em; }
@media (max-width: 991px) {
  form label[for="full-img"] {
    max-width: 300px;
    margin: auto; } }
form .form-control {
  border-radius: 0;
  background-color: #3a3b3e;
  border-color: #3a3b3e; }
  form .form-control:focus {
    border-color: #3a3b3e;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(253, 72, 31, 0.6); }
form textarea {
  overflow: hidden; }
@media (max-width: 991px) {
  form button[type="submit"]:not(.btn-small) {
    width: 100%;
    margin-top: 2em; } }

.banner {
  max-height: 300px;
  width: 100%;
  overflow: hidden; }
  .banner img {
    width: 100%;
    height: auto; }

.row.rounds {
  margin-bottom: 3em; }

.blocklink-wrapper {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  margin: auto 0px; }

.blocklink {
  padding: .5em;
  position: relative; }
  .blocklink:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer; }
  .blocklink .profile-img {
    width: calc(100% - .4em);
    margin: .2em; }
    .blocklink .profile-img img {
      height: auto;
      width: 100%; }
  .blocklink a {
    color: #fff;
    text-decoration: none; }
    .blocklink a:hover, .blocklink a:focus, .blocklink a:active {
      text-decoration: none; }
  .blocklink p {
    text-align: center; }
  .blocklink.user.request {
    padding-bottom: 1.5em; }
  .blocklink .accept-deny {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 4.5em;
    cursor: default;
    text-align: center;
    margin: 0 auto; }
    .blocklink .accept-deny a {
      display: inline-block;
      font-size: 1.5em; }
      .blocklink .accept-deny a.add {
        color: green;
        margin-right: 1em; }
      .blocklink .accept-deny a.delete {
        color: red; }

.abs-wrapper {
  width: 100%;
  height: 100%;
  position: relative; }

#feed, #notifications {
  margin-top: 1.5em; }
  #feed .post, #notifications .post {
    background-color: rgba(0, 0, 0, 0.2);
    margin: .25em 0;
    padding: .5em;
    color: #999; }
    #feed .post a, #notifications .post a {
      color: #cc4020; }
      #feed .post a.toggleSeen, #notifications .post a.toggleSeen {
        color: #4d4d4d; }
        #feed .post a.toggleSeen:hover .fa-circle:before, #notifications .post a.toggleSeen:hover .fa-circle:before {
          content: "\f10c"; }
    #feed .post .header, #notifications .post .header {
      color: #fff;
      font-weight: bold; }
    #feed .post .content, #notifications .post .content {
      padding: .1em 1.5em; }
    #feed .post .footer, #notifications .post .footer {
      font-size: .8em;
      text-align: right;
      font-style: italic; }

.btn {
  border-radius: 0; }
  .btn.btn-primary {
    background-color: #cc4020;
    border-color: #cc4020; }
    @media (min-width: 992px) {
      .btn.btn-primary {
        margin-top: 1em; } }
    .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary:hover, .btn.btn-primary:active:hover {
      background-color: #bc3010;
      box-shadow: none;
      border-color: #bc3010;
      outline-color: transparent; }
  .btn.btn-secondary {
    background-color: #434548; }
  .btn.btn-load {
    color: #fff;
    background-color: rgba(100, 100, 100, 0.2);
    width: 100%;
    text-align: center;
    margin-top: 1em; }
    .btn.btn-load:hover, .btn.btn-load:focus, .btn.btn-load:active {
      opacity: .8; }
  .btn.btn-danger, .btn.btn-danger:hover, .btn.btn-danger:focus, .btn.btn-danger:active {
    background-color: #f00;
    border-color: #f00; }
  .btn.btn-dropdown {
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: .2em;
    right: .2em;
    height: 1.5em;
    line-height: .5em; }
    .btn.btn-dropdown:active, .btn.btn-dropdown:focus, .btn.btn-dropdown:hover {
      background-color: #dbdbdb;
      color: #434548; }
  .btn.btn-lfg {
    margin-bottom: 1em; }

.dropdown .dropdown-menu {
  background-color: #dbdbdb;
  color: #434548;
  top: 1.5em;
  min-width: 5em;
  right: 0;
  left: auto;
  border-radius: 0; }
  .dropdown .dropdown-menu li a:active, .dropdown .dropdown-menu li a:hover, .dropdown .dropdown-menu li a:focus {
    background-color: transparent;
    color: #868686; }

.thumb {
  width: 100%;
  height: auto; }

#map {
  width: 100%;
  min-height: 200px; }
  @media (max-width: 991px) {
    #map {
      display: none; } }
  #map a[href^="http://maps.google.com/maps"] {
    display: none !important; }
  #map a[href^="https://maps.google.com/maps"] {
    display: none !important; }
  #map .gmnoprint a, #map .gmnoprint span, #map .gm-style-cc {
    display: none; }
  #map .gmnoprint div {
    background: none !important; }

.accent {
  color: #cc4020; }

i.accent {
  font-size: 1.5em; }

a.accent:hover, a.accent:focus, a.accent:active {
  color: #cc4020; }

.modal .modal-header {
  border: none; }
.modal .modal-content {
  color: #fff;
  border-radius: 0;
  border: none;
  background-color: #2e2f30; }
.modal .modal-footer {
  border: none; }
  .modal .modal-footer .btn-primary {
    margin: 0; }
.modal .close {
  color: #fff; }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s; }
    .switch .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s; }
  .switch input {
    display: none; }
    .switch input:checked + .slider {
      background-color: #12F493; }
    .switch input:focus + .slider {
      box-shadow: 0 0 1px #2196F3; }
    .switch input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px); }

.cke_1.cke_chrome {
  background: #3a3b3e;
  border-color: #3a3b3e !important;
  border-radius: 0; }

.cke-contents {
  border-radius: 0 !important; }

.cke_top, .cke_bottom {
  background: #3a3b3e !important;
  box-shadow: none !important; }

.cke_toolgroup, .cke_combo_button {
  background: #c1bfbf !important;
  border-radius: 0 !important; }

.cke_toolgroup:hover, .cke_combo_button:hover, .cke_button:hover {
  background-image: none !important; }

@keyframes bouncing {
  0% {
    bottom: 2em; }
  50% {
    bottom: 20px; }
  100% {
    bottom: 2em; } }
.fade-carousel {
  position: relative;
  height: calc(100vh - 50px);
  margin-top: -22px;
  margin-bottom: 22px;
  overflow: hidden;
  clear: left; }
  .fade-carousel a.scrollDown {
    animation: bouncing 1s infinite ease-in-out;
    position: absolute;
    bottom: 2em;
    left: 0;
    right: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #777;
    z-index: 1;
    padding: 5px 6px 7px 6px; }
    .fade-carousel a.scrollDown:hover, .fade-carousel a.scrollDown:active {
      color: #cc4020; }
  .fade-carousel .carousel-inner .item {
    height: 100vh; }
  .fade-carousel .carousel-indicators {
    bottom: 6em; }
    .fade-carousel .carousel-indicators li {
      margin: 0 2px;
      background-color: #cc4020;
      border-color: #cc4020;
      opacity: .7; }
      .fade-carousel .carousel-indicators li.active {
        width: 10px;
        height: 10px;
        opacity: 1; }

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  color: #d6d9d5;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0); }

.hero h1 {
  font-size: 6em;
  font-weight: bold;
  margin: 0;
  padding: 0; }

.fade-carousel .carousel-inner .item .hero {
  opacity: 0;
  -webkit-transition: 2s all ease-in-out .1s;
  -moz-transition: 2s all ease-in-out .1s;
  -ms-transition: 2s all ease-in-out .1s;
  -o-transition: 2s all ease-in-out .1s;
  transition: 2s all ease-in-out .1s; }

.fade-carousel .carousel-inner .item.active .hero {
  opacity: 1;
  -webkit-transition: .5s all ease-in-out .1s;
  -moz-transition: .5s all ease-in-out .1s;
  -ms-transition: .5s all ease-in-out .1s;
  -o-transition: 2s all ease-in-out .1s;
  transition: .5s all ease-in-out .1s; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #080d15;
  opacity: .7; }

.btn.btn-lg {
  padding: 10px 40px; }

.btn.btn-hero, .btn.btn-hero:hover, .btn.btn-hero:focus {
  color: #f5f5f5;
  background-color: #cc4020;
  border-color: #cc4020;
  outline: none;
  margin: 20px auto; }

.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
.fade-carousel .slides .slide-1 {
  background-image: url("../img/slide-1.jpg"); }
.fade-carousel .slides .slide-2 {
  background-image: url("../img/slide-2.jpg"); }
.fade-carousel .slides .slide-3 {
  background-image: url("../img/slide-3.jpg"); }

@media screen and (min-width: 980px) {
  .hero {
    width: 980px; } }
@media screen and (max-width: 640px) {
  .hero h1 {
    font-size: 4em; } }
.leaderboard {
  margin-bottom: -15px; }
  .leaderboard.divider {
    border-color: transparent; }
  .leaderboard > .col-md-12 > :nth-child(2) {
    margin-top: 2px; }
  .leaderboard > .col-md-12 .row.leaderboard-team {
    background-color: rgba(0, 0, 0, 0.2);
    padding: .3em;
    height: 6em; }
    .leaderboard > .col-md-12 .row.leaderboard-team:not(.place-1):not(.place-2):not(.place-3):not(:last-child) {
      border-bottom: 1px solid rgba(54, 53, 53, 0.47); }
    .leaderboard > .col-md-12 .row.leaderboard-team[class^="place-"] {
      height: 10em; }
      .leaderboard > .col-md-12 .row.leaderboard-team[class^="place-"].place-1 {
        background-color: rgba(255, 190, 0, 0.3); }
        .leaderboard > .col-md-12 .row.leaderboard-team[class^="place-"].place-1 > :first-child {
          color: gold; }
      .leaderboard > .col-md-12 .row.leaderboard-team[class^="place-"].place-2 {
        background-color: rgba(255, 255, 255, 0.3);
        height: 10em; }
        .leaderboard > .col-md-12 .row.leaderboard-team[class^="place-"].place-2 > :first-child {
          color: silver; }
      .leaderboard > .col-md-12 .row.leaderboard-team[class^="place-"].place-3 {
        background-color: rgba(255, 95, 0, 0.3);
        height: 10em; }
        .leaderboard > .col-md-12 .row.leaderboard-team[class^="place-"].place-3 > :first-child {
          color: burlywood; }
      .leaderboard > .col-md-12 .row.leaderboard-team[class^="place-"].place-2 .title, .leaderboard > .col-md-12 .row.leaderboard-team[class^="place-"].place-3 .title {
        font-size: 2em; }
      .leaderboard > .col-md-12 .row.leaderboard-team[class^="place-"] .title {
        font-size: 3em; }
      .leaderboard > .col-md-12 .row.leaderboard-team[class^="place-"] .profile-img {
        height: 8em !important;
        width: 8em !important; }
    .leaderboard > .col-md-12 .row.leaderboard-team.my-team {
      transform: scale(1.03);
      padding: 10px 15px;
      background-color: rgba(54, 53, 53, 0.47); }
    .leaderboard > .col-md-12 .row.leaderboard-team > [class^="col-md-"] > .row,
    .leaderboard > .col-md-12 .row.leaderboard-team [class^="col-md-"] {
      height: 100%; }
    .leaderboard > .col-md-12 .row.leaderboard-team > [class^="col-md-"] {
      position: relative;
      height: 100%; }
      .leaderboard > .col-md-12 .row.leaderboard-team > [class^="col-md-"]:first-child > * {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 1em;
        width: 1em; }
    .leaderboard > .col-md-12 .row.leaderboard-team .col-md-4, .leaderboard > .col-md-12 .row.leaderboard-team .col-md-3, .leaderboard > .col-md-12 .row.leaderboard-team .col-md-2 {
      position: relative; }
      .leaderboard > .col-md-12 .row.leaderboard-team .col-md-4 > .profile-img, .leaderboard > .col-md-12 .row.leaderboard-team .col-md-3 > .profile-img, .leaderboard > .col-md-12 .row.leaderboard-team .col-md-2 > .profile-img {
        height: 3em;
        width: 3em;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto; }
        .leaderboard > .col-md-12 .row.leaderboard-team .col-md-4 > .profile-img img, .leaderboard > .col-md-12 .row.leaderboard-team .col-md-3 > .profile-img img, .leaderboard > .col-md-12 .row.leaderboard-team .col-md-2 > .profile-img img {
          max-height: 100%; }
    .leaderboard > .col-md-12 .row.leaderboard-team:not(.place-1):not(.place-2):not(.place-3) .title {
      line-height: 4em;
      height: 4em; }
    .leaderboard > .col-md-12 .row.leaderboard-team .title {
      font-size: 1.5em;
      height: 2em;
      line-height: 2em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block; }
    .leaderboard > .col-md-12 .row.leaderboard-team .score {
      text-align: center;
      position: relative; }
      .leaderboard > .col-md-12 .row.leaderboard-team .score .col-md-12 {
        padding-left: 30px; }
      .leaderboard > .col-md-12 .row.leaderboard-team .score span:not(:last-child) {
        margin-right: 1em; }
      .leaderboard > .col-md-12 .row.leaderboard-team .score i {
        margin-right: .5em; }
        .leaderboard > .col-md-12 .row.leaderboard-team .score i.fa-trophy {
          color: gold; }
        .leaderboard > .col-md-12 .row.leaderboard-team .score i.fa-crosshairs {
          color: red; }
        .leaderboard > .col-md-12 .row.leaderboard-team .score i.fa-pause {
          color: white; }
    .leaderboard > .col-md-12 .row.leaderboard-team .a-w {
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      margin: auto;
      height: 1em; }
    .leaderboard > .col-md-12 .row.leaderboard-team .f-h {
      height: 100%; }

*:not(.leaderboard-team :first-child) .fa-trophy {
  margin-right: 1em;
  color: gold; }
*:not(.leaderboard-team :first-child) .fa-pause {
  margin-right: 1em;
  color: white; }
*:not(.leaderboard-team :first-child) .fa-crosshairs {
  margin-right: 1em;
  color: red; }

.ratio {
  margin-right: 1em; }
  .ratio .fa-trophy, .ratio .fa-crosshairs {
    color: white;
    margin: 0; }

.menu-hidden {
  display: none; }
  @media (max-width: 991px) {
    .menu-hidden {
      display: block; } }

.menu-shadow {
  display: none; }
  @media (min-width: 992px) {
    .menu-shadow.menu-hidden {
      display: none !important; } }

.menu-icons {
  float: left;
  margin-right: 1em;
  color: #b8b7ad; }
  @media (min-width: 992px) {
    .menu-icons {
      margin-top: 15px; } }

.recipients {
  margin-bottom: 1em; }
  .recipients .blocklink {
    width: 3em !important;
    height: 3em;
    padding: 0; }
    .recipients .blocklink:hover .profile-img {
      opacity: .7; }
    .recipients .blocklink .profile-img {
      margin: 0;
      width: 100%;
      height: 100%; }
  .recipients .btn-primary {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: calc(3em - 12px); }
    @media (min-width: 992px) {
      .recipients .btn-primary {
        margin-top: 0; } }

#message-box {
  height: 18em;
  background-color: rgba(35, 36, 39, 0.5);
  overflow-y: scroll;
  padding: 1em;
  overflow-x: hidden; }
  #message-box .own {
    color: #cc4020; }

.stealth-mode {
  display: none;
  margin-bottom: 4em; }

.progress {
  background-color: #434548; }
  .progress .progress-bar {
    background-color: #cc4020; }

.sweet-alert, .sweet-alert > p, .sweet-alert > h2 {
  background-color: #434548;
  border-radius: 0;
  color: #fff; }
@keyframes pulseWarning {
  0% {
    border-color: #db5b3e; }
  100% {
    border-color: #cc4020; } }
@keyframes pulseWarningIns {
  0% {
    background-color: #db5b3e; }
  100% {
    background-color: #cc4020; } }
.sweet-alert .sa-warning {
  border-color: #cc4020 !important; }
  .sweet-alert .sa-warning .sa-body, .sweet-alert .sa-warning .sa-dot {
    background-color: #cc4020 !important; }
.sweet-alert .sa-success.animate:before, .sweet-alert .sa-success.animate:after, .sweet-alert .sa-success.animate .sa-fix {
  background-color: #434548; }
.sweet-alert .sa-success.animate .sa-placeholder {
  border-color: #a5dc86; }
.sweet-alert button {
  border-radius: 0 !important; }
  .sweet-alert button.cancel {
    background-color: #777; }
  .sweet-alert button:not(.cancel) {
    background-color: #cc4020 !important; }

.errors, .success {
  margin: -22px 0 1em 0; }
  .errors.errors, .success.errors {
    background-color: #f2dede; }
    .errors.errors .alert-danger, .success.errors .alert-danger {
      border-radius: 0; }

.divider {
  border-top: 1px solid #cc4020;
  margin-top: 48px; }

.profile-wrapper h3 {
  margin-top: 2em; }
.profile-wrapper .profile-title {
  margin-top: 2em;
  text-align: center; }
.profile-wrapper > .row > .col-md-12 > .profile-img {
  margin: 2em auto; }
  .profile-wrapper > .row > .col-md-12 > .profile-img.profile {
    width: 250px;
    max-width: 250px;
    display: inline-block; }
    @media (max-width: 991px) {
      .profile-wrapper > .row > .col-md-12 > .profile-img.profile {
        width: 100%; }
        .profile-wrapper > .row > .col-md-12 > .profile-img.profile img {
          width: 100%; } }
@media (max-width: 991px) {
  .profile-wrapper .stats-col .stats {
    max-width: 21em;
    margin: auto; }
    .profile-wrapper .stats-col .stats .col-md-4 {
      width: 33%;
      float: left; } }
.profile-wrapper .stats-col .stats h4 {
  text-align: center; }
  .profile-wrapper .stats-col .stats h4 > i {
    margin-right: 1em; }
  .profile-wrapper .stats-col .stats h4 .ratio {
    margin-right: 0; }
  @media (max-width: 991px) {
    .profile-wrapper .stats-col .stats h4 span:not(.ratio) {
      display: none; }
    .profile-wrapper .stats-col .stats h4 i {
      margin-right: 0; } }
.profile-wrapper .stats-col .stats p {
  text-align: center; }
@media (max-width: 47em) {
  .profile-wrapper .data .col-md-8.col-md-offset-2 {
    width: 83.33%;
    margin-left: 8.33%; } }
@media (max-width: 991px) {
  .profile-wrapper .members, .profile-wrapper .friends, .profile-wrapper .teams {
    max-width: 15em;
    margin: auto; } }
.profile-wrapper .description {
  text-align: center;
  margin: 2em 0; }
.profile-wrapper .admin-controls {
  margin-top: 2em; }
.profile-wrapper a.message {
  display: inline-block; }
  .profile-wrapper a.message i.fa {
    margin-right: 1em; }

@media (max-width: 991px) {
  .team-members .members .col-md-2, .team-members .admins .col-md-2, .team-members .requests .col-md-2 {
    width: 33% !important; } }

.message-view h1 {
  cursor: pointer;
  display: inline-block;
  margin: 1em 0; }
  .message-view h1 i.fa-pencil {
    font-size: 14px;
    vertical-align: super;
    color: #cc4020; }
.message-view #set-title {
  margin: 1em auto; }
  .message-view #set-title .form-control {
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
    width: calc(100% - 40px); }
  .message-view #set-title .btn-primary {
    margin-top: 0; }

@media (max-width: 991px) {
  .persist-cols .col-md-1, .recipients .col-md-1, .profile-wrapper .data .col-md-1, .profile-wrapper .members .col-md-1, .profile-wrapper .friends .col-md-1, .profile-wrapper .teams .col-md-1, .events .event .col-md-1 {
    width: 8.33%;
    float: left; }
  .persist-cols .col-md-2, .recipients .col-md-2, .profile-wrapper .data .col-md-2, .profile-wrapper .members .col-md-2, .profile-wrapper .friends .col-md-2, .profile-wrapper .teams .col-md-2, .events .event .col-md-2 {
    width: 16.66%;
    float: left; }
  .persist-cols .col-md-3, .recipients .col-md-3, .profile-wrapper .data .col-md-3, .profile-wrapper .members .col-md-3, .profile-wrapper .friends .col-md-3, .profile-wrapper .teams .col-md-3, .events .event .col-md-3 {
    width: 25%;
    float: left; }
  .persist-cols .col-md-4, .recipients .col-md-4, .profile-wrapper .data .col-md-4, .profile-wrapper .members .col-md-4, .profile-wrapper .friends .col-md-4, .profile-wrapper .teams .col-md-4, .events .event .col-md-4 {
    width: 33.33%;
    float: left; }
  .persist-cols .col-md-5, .recipients .col-md-5, .profile-wrapper .data .col-md-5, .profile-wrapper .members .col-md-5, .profile-wrapper .friends .col-md-5, .profile-wrapper .teams .col-md-5, .events .event .col-md-5 {
    width: 41.66%;
    float: left; }
  .persist-cols .col-md-6, .recipients .col-md-6, .profile-wrapper .data .col-md-6, .profile-wrapper .members .col-md-6, .profile-wrapper .friends .col-md-6, .profile-wrapper .teams .col-md-6, .events .event .col-md-6 {
    width: 50%;
    float: left; }
  .persist-cols .col-md-7, .recipients .col-md-7, .profile-wrapper .data .col-md-7, .profile-wrapper .members .col-md-7, .profile-wrapper .friends .col-md-7, .profile-wrapper .teams .col-md-7, .events .event .col-md-7 {
    width: 58.33%;
    float: left; }
  .persist-cols .col-md-8, .recipients .col-md-8, .profile-wrapper .data .col-md-8, .profile-wrapper .members .col-md-8, .profile-wrapper .friends .col-md-8, .profile-wrapper .teams .col-md-8, .events .event .col-md-8 {
    width: 66.66%;
    float: left; }
  .persist-cols .col-md-9, .recipients .col-md-9, .profile-wrapper .data .col-md-9, .profile-wrapper .members .col-md-9, .profile-wrapper .friends .col-md-9, .profile-wrapper .teams .col-md-9, .events .event .col-md-9 {
    width: 75%;
    float: left; }
  .persist-cols .col-md-10, .recipients .col-md-10, .profile-wrapper .data .col-md-10, .profile-wrapper .members .col-md-10, .profile-wrapper .friends .col-md-10, .profile-wrapper .teams .col-md-10, .events .event .col-md-10 {
    width: 83.33%;
    float: left; }
  .persist-cols .col-md-offset-1, .recipients .col-md-offset-1, .profile-wrapper .data .col-md-offset-1, .profile-wrapper .members .col-md-offset-1, .profile-wrapper .friends .col-md-offset-1, .profile-wrapper .teams .col-md-offset-1, .events .event .col-md-offset-1 {
    margin-left: 8.33%; }
  .persist-cols .col-md-offset-2, .recipients .col-md-offset-2, .profile-wrapper .data .col-md-offset-2, .profile-wrapper .members .col-md-offset-2, .profile-wrapper .friends .col-md-offset-2, .profile-wrapper .teams .col-md-offset-2, .events .event .col-md-offset-2 {
    margin-left: 16.66%; }
  .persist-cols .col-md-offset-3, .recipients .col-md-offset-3, .profile-wrapper .data .col-md-offset-3, .profile-wrapper .members .col-md-offset-3, .profile-wrapper .friends .col-md-offset-3, .profile-wrapper .teams .col-md-offset-3, .events .event .col-md-offset-3 {
    margin-left: 25%; }
  .persist-cols .col-md-offset-4, .recipients .col-md-offset-4, .profile-wrapper .data .col-md-offset-4, .profile-wrapper .members .col-md-offset-4, .profile-wrapper .friends .col-md-offset-4, .profile-wrapper .teams .col-md-offset-4, .events .event .col-md-offset-4 {
    margin-left: 33.33%; }
  .persist-cols .col-md-offset-5, .recipients .col-md-offset-5, .profile-wrapper .data .col-md-offset-5, .profile-wrapper .members .col-md-offset-5, .profile-wrapper .friends .col-md-offset-5, .profile-wrapper .teams .col-md-offset-5, .events .event .col-md-offset-5 {
    margin-left: 41.66%; }
  .persist-cols .col-md-offset-6, .recipients .col-md-offset-6, .profile-wrapper .data .col-md-offset-6, .profile-wrapper .members .col-md-offset-6, .profile-wrapper .friends .col-md-offset-6, .profile-wrapper .teams .col-md-offset-6, .events .event .col-md-offset-6 {
    margin-left: 50%; }
  .persist-cols .col-md-offset-7, .recipients .col-md-offset-7, .profile-wrapper .data .col-md-offset-7, .profile-wrapper .members .col-md-offset-7, .profile-wrapper .friends .col-md-offset-7, .profile-wrapper .teams .col-md-offset-7, .events .event .col-md-offset-7 {
    margin-left: 58.33%; }
  .persist-cols .col-md-offset-8, .recipients .col-md-offset-8, .profile-wrapper .data .col-md-offset-8, .profile-wrapper .members .col-md-offset-8, .profile-wrapper .friends .col-md-offset-8, .profile-wrapper .teams .col-md-offset-8, .events .event .col-md-offset-8 {
    margin-left: 66.66%; }
  .persist-cols .col-md-offset-9, .recipients .col-md-offset-9, .profile-wrapper .data .col-md-offset-9, .profile-wrapper .members .col-md-offset-9, .profile-wrapper .friends .col-md-offset-9, .profile-wrapper .teams .col-md-offset-9, .events .event .col-md-offset-9 {
    margin-left: 75%; }
  .persist-cols .col-md-offset-10, .recipients .col-md-offset-10, .profile-wrapper .data .col-md-offset-10, .profile-wrapper .members .col-md-offset-10, .profile-wrapper .friends .col-md-offset-10, .profile-wrapper .teams .col-md-offset-10, .events .event .col-md-offset-10 {
    margin-left: 83.33%; } }

.bigbtn {
  height: 6em;
  text-align: center;
  cursor: pointer; }
  .bigbtn.participate {
    background-color: #e94a26; }
    .bigbtn.participate:hover, .bigbtn.participate:focus, .bigbtn.participate:active {
      background-color: #e23a12; }
  .bigbtn.organise {
    background-color: #e75a3a; }
    .bigbtn.organise:hover, .bigbtn.organise:focus, .bigbtn.organise:active {
      background-color: #e94a26; }
  .bigbtn.lobby {
    background-color: #cc4020; }
    .bigbtn.lobby:hover, .bigbtn.lobby:focus, .bigbtn.lobby:active {
      background-color: #b3381c; }
  .bigbtn a {
    color: white;
    text-decoration: none; }
    .bigbtn a .title {
      font-size: 2em;
      line-height: 2em; }
      @media (max-width: 350px) {
        .bigbtn a .title {
          font-size: 1.5em;
          line-height: 2.25em; } }
  .bigbtn p {
    font-size: .8em; }

.dashboard {
  margin-top: 3em; }

.lobby-view p.passphrase {
  color: #cc4020;
  font-size: 1.2em;
  margin-top: .5em; }

p.info {
  font-size: .9em;
  font-style: italic;
  margin-top: -1em;
  color: #b8b7ad; }

label.control-label + p.info {
  margin-top: -.4em; }

.full-width {
  width: 100%; }

#tutorial .carousel-control i {
  height: 1em;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto; }

@media (max-width: 47em) {
  #search-results .blocklink-wrapper {
    display: block; }
    #search-results .blocklink-wrapper .blocklink {
      float: none;
      min-height: 5.5em;
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
      #search-results .blocklink-wrapper .blocklink .profile-img {
        height: 4em;
        width: 4em;
        margin-right: 1em;
        float: left; }
        #search-results .blocklink-wrapper .blocklink .profile-img img {
          height: 100%;
          width: auto; }
      #search-results .blocklink-wrapper .blocklink p.name {
        font-size: 1.5em; }
    #search-results .blocklink-wrapper :last-child {
      border-bottom: 0; } }

.events .event {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  @media (max-width: 520px) {
    .events .event .banner-wrapper {
      display: none; }
    .events .event .data {
      width: 66.66%;
      margin-left: 16.66%; } }
  .events .event .month {
    border-bottom: 2px solid #cc4020;
    display: inline;
    font-weight: bold; }
  .events .event .day {
    font-size: 2em;
    text-align: left; }
  .events .event .address {
    font-size: .8em;
    text-align: left; }
.events :last-child {
  border-bottom: 0; }

@media (max-width: 520px) {
  .about .persist-cols > [class^="col-md-"], .about .recipients > [class^="col-md-"], .about .profile-wrapper .data > [class^="col-md-"], .profile-wrapper .about .data > [class^="col-md-"], .about .profile-wrapper .members > [class^="col-md-"], .profile-wrapper .about .members > [class^="col-md-"], .about .profile-wrapper .friends > [class^="col-md-"], .profile-wrapper .about .friends > [class^="col-md-"], .about .profile-wrapper .teams > [class^="col-md-"], .profile-wrapper .about .teams > [class^="col-md-"], .about .events .event > [class^="col-md-"], .events .about .event > [class^="col-md-"] {
    width: 100%;
    float: none; }
  .about .image-wrapper {
    margin-bottom: 1em;
    text-align: center; }
    .about .image-wrapper img {
      display: inline-block; } }
.about .row {
  margin-top: 2em; }
.about .image-wrapper {
  max-width: 100%; }
  .about .image-wrapper img {
    max-width: 100%;
    height: auto; }
.about blockquote {
  border-color: #cc4020; }

/*# sourceMappingURL=style.css.map */
